{% extends '_inc/listPage.html.twig' %}

{% block title %}Modifier Chantier{% endblock %}

{% block back_button %}{{ path('app_chantier') }}{% endblock %}

{% block search %}
    <div class="p-2 col d-flex flex-row-reverse">
        {{ include('chantier/_delete_form.html.twig') }}
    </div>
{% endblock %}

{% block list %}
	<div class="d-flex justify-content-center container mt-5 mb-5">
        <h1 class="text-center font-weight-bold" style="font-size: 3em;">Modifier les information du Chantier</h1>
    </div>
    {% if chantier.getStatut.statut == 'EN_COURS' %} 
        {{ include('chantier/_form.html.twig') }}
    {% elseif chantier.getStatut.statut == 'TERMINE' %}
        {{ include('chantier/_form_termine.html.twig') }}
    {% endif %}
    
    {% include '_inc/flatpickr.html.twig' %}

{% endblock %}

{% block javascripts %}
	{{ parent() }}
    {{ encore_entry_script_tags('chantierAutocomplete') }}
{% endblock %}
