{% extends '_inc/listPage.html.twig' %}

{% block title %}Chantier{% endblock %}

{% block back_button %}
    {{ path('app_dashboard') }}
{% endblock %}

{% block new_button %}
	<a class="btn btn-primary" href="{{ path('app_chantier_new') }}">
		<i class="fa-solid fa-chevron-right"></i>
		Nouveau chantier
	</a>
{% endblock %}

{% block search %}
{% endblock %}

{# {% block search %}
    {{ form_start(searchForm, {'attr': {'class': 'd-flex justify-content-end col p-2', 'id': 'search-form'}}) }}
        <div class="">
            {{ form_row(searchForm.nom) }}
        </div>
        <div class="px-2">
            {{ form_row(searchForm.submit) }}
        </div>
    {{ form_end(searchForm) }}
{% endblock %} #}

{% block list %}
    <div class="d-flex justify-content-between container flex-sm-row flex-column pb-2">
        <div class="p-2 col d-flex justify-content-center">
            <button class="btn btn-danger mx-2" id='chantierEnCours'>Chantiers en cours</button>
            <button class="btn btn-danger mx-2" id='chantierTermine'>Chantiers archivé</button>
        </div>
    </div>
    <h1 class="text-center font-weight-bold statut" style="font-size: 3em;">Les chantiers en cours</h1>
    <div class="client-container border rounded container bg-light p-2"></div>
{% endblock %}

{% block content %}
    <button class="btn btn-primary back-to-top"><i class="fa-solid fa-angles-up"></i> Retour en haut</button>
    {% include '_inc/chargementAnimation.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('infiniteScrollChantier') }}
{% endblock %}