{% extends '_inc/listPage.html.twig' %}

{% block title %}Chantier{% endblock %}

{% block search %}
    <div class="p-2 col d-flex flex-row-reverse">
        <a class="btn btn-secondary p-2" href="{{ path('app_chantier_edit', {'id': chantier.id}) }}">
            <i class="fa-solid fa-pen-to-square"></i>
            Modifier
        </a>
    </div>
{% endblock %}

{% block back_button %}
    {{ path('app_chantier') }}
{% endblock %}

{% block list %}
    <div class="border rounded container bg-light p-2">
        <div class="row border border-light rounded bg-client m-2 p-2"> 
            <div class="d-flex justify-content-between">
                <h1>{{chantier.getCodeClient().nom}}</h1>
                <div class="d-flex flex-column align-items-end">
                    <h5>Le {{chantier.dateDebut | date('d/m/Y')}}</h5>
                    <h5>à {{chantier.dateDebut | date('h:i')}}</h5>
                </div>
            </div>
        </div>

        <h3 class="row border border-light rounded m-2 p-2">
            <strong>Description :</strong>
        </h3>

        <div class="row border border-light rounded m-2 p-2">
            <section class="gradient-custom justify-content-center">
                <div class="container justify-content-center">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body p-4 bg-client">
                                    <div class="row">
                                        <div class="col bg-light">
                                            {{ chantier.description|raw }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <h3 class="row border border-light rounded m-2 p-2">
            <strong>Gallerie Photos :</strong>
        </h3>
        
        <div class="row border border-light rounded m-2 p-2">
            {% if photos %}
                {% include 'photoChantier/photo.html.twig' %}
            {% else %}
                
            {% endif %}
        </div>

        <h3 class="row border border-light rounded m-2 p-2">
            <strong>Commentaires :</strong>
        </h3>
        
        <div class="row border border-light rounded m-2 p-2">
            {% include 'commentaireChantier/comment.html.twig' %}
        </div>
    </div>
{% endblock %}