{% extends '_inc/listPage.html.twig' %}

{% block title %}Chantier{% endblock %}

{% block search %}
    <div class="p-2 col d-flex flex-row-reverse">
        <a class="btn btn-secondary p-2"
            {% if chantier.getStatut.statut == 'EN_COURS' %} 
                href="{{ path('app_chantier_edit', {'id': chantier.id}) }}"
            {% elseif chantier.getStatut.statut == 'TERMINE' %}
                href="{{ path('app_chantier_edit_termine', {'id': chantier.id}) }}"
            {% endif %}
        >
            <i class="fa-solid fa-pen-to-square"></i>
            Modifier
        </a>
    </div>    
{% endblock %}

{% block back_button %}
{% endblock %}

{% block list %}

    {% if chantier.getStatut.statut == 'EN_COURS' %}
        <div class="d-flex justify-content-between container flex-sm-row flex-column pb-2">
            <div class="p-2 col d-flex flex-row-reverse">
                {% include 'chantier/_change_statut_form.html.twig' %}
            </div>
        </div>
    {% endif %}
    
    <div class="border rounded container bg-light p-2">
		<div class="row border border-light rounded bg-client m-2 p-2">
			<div class="d-flex justify-content-between">
				<h1>{{chantier.getRdv().titre}}</h1>
				<div class="d-flex flex-column align-items-end">
					<h5>Début le: 
						{{chantier.getRdv().dateDebut|format_datetime(locale='fr',pattern="dd MMMM YYYY") }}
					</h5>
				</div>
			</div>
			{% if chantier.id %}
				<div><strong>Code du contrat:</strong>
					{{chantier.id}}
				</div>
			{% else %}
				<div>N'a pas de contrat d'entretien</div>
			{% endif %}
			{% if chantier.CodeClient %}
				<div><strong>Code du client:</strong>
					{{chantier.CodeClient.getId()}}</div>
			{% else %}
				<div>Nouveau client !</div>
			{% endif %}

			<div class="d-flex flex-column align-items-end">
				<h5>Fin prévu le:
					{{ chantier.getRdv().dateFin ? chantier.getRdv().dateFin|format_datetime(locale='fr',pattern="dd MMMM YYYY") : 'Toute la journée' }}
				</h5>

				<h5 class='text-primary'>
					<strong>Technicien:
					</strong>
					{{chantier.IDUtilisateur.IDUtilisateur.nom}}
					{{chantier.IDUtilisateur.IDUtilisateur.prenom}}</h5>
			</div>

		</div>

        <h3 class="row border border-light rounded m-2 p-2">
            <strong>Devis :</strong>
            <ul class='list-group p-4'>
                {% for file in devis %}
                    <li class='list-group-item'>
                        <a class='btn' href="{{ path('app_devis_chantier', {'id': chantier.id, 'filename': file}) }}" target="_blank">
                            <i class="fa-solid fa-file-pdf text-primary"></i> 
                            {{ file }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </h3>
        <!-- Button trigger modal -->
        <div class="container p-2">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#devisModal">
                Rajouter un devis
            </button>

        {% for message in app.flashes('errorUpload') %}
                    {% if loop.first %}
                        <div class="alert alert-success alert-dismissible fade show mt-1" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>

                        <script>
                            setTimeout(function () {
        var alert = document.querySelector('.alert');
        alert.classList.remove('show');
        alert.classList.add('hide');
        setTimeout(function () {
        alert.remove();
        }, 1000);
        }, 5000);
                </script>
            {% endif %}
        {% endfor %}

            <!-- Modal -->
            <div class="modal fade" id="devisModal" tabindex="-1" aria-labelledby="devisModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="devisModalLabel">Rajouter un devis</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {{ form_start(form) }}
                                {{ form_row(form.pdfFile) }}                            
                        <div class="modal-footer">                    
                            <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Enregistrer</button>
                            {{ form_end(form) }}
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        </div> 
                    </div>
                </div>
            </div>
        </div>

        

        <h3 class="row border border-light rounded m-2 p-2">
            <strong>Description :</strong>
        </h3>

        <div class="row border border-light rounded m-2 p-2">
            <section class="gradient-custom justify-content-center">
                <div class="container justify-content-center">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body p-4 bg-client">
                                    <div class="row">
                                        <div class="col">
                                            <h4>{{ chantier.libelle }}</h4>
                                            <p>{{ chantier.description|raw }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <h3 class="row border border-light rounded m-2 p-2">
            <strong>Gallerie Photos :</strong>
        </h3>
        
        <div class="row border border-light rounded m-2 p-2">
            {% if photos %}
                {% include 'photoChantier/photo.html.twig' %}
            {% else %}
                
            {% endif %}
        </div>

        <h3 class="row border border-light rounded m-2 p-2">
            <strong>Commentaires :</strong>
        </h3>
        
        <div class="row border border-light rounded m-2 p-2">
            {% include 'commentaireChantier/comment.html.twig' %}
        </div>
    </div>
{% endblock %}