{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}

		<div class="container mt-5">
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title mb-4">Login</h5>
							<form>
								<div class="mb-3">
									<label for="inputNom_utilisateur">Utilisateur</label>
									<input type="text" value="{{ last_username }}" name="Nom_utilisateur" id="inputNom_utilisateur" class="form-control" autocomplete="username" required autofocus>
								</div>
								<div class="mb-3">
									<label for="inputPassword">Password</label>
									<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

									<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
								</div>
								<div class="checkbox mb-3">
									<label>
										<input type="checkbox" name="_remember_me">
										Remember me
									</label>
								</div>
								<button type="submit" class="btn btn-primary">Login</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}

