{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{# {% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.getIDUtilisateur.prenom }} {{ app.user.getIDUtilisateur.nom }}
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %} #}
		
		<div class="container-xxl mt-5">
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="card">
						<div class="d-flex card-body flex-column">
							<h5 class="card-title mb-4 align-self-center">Login</h5>

							<form>
                                <label for="inputNom_utilisateur">Utilisateur</label>
								<div class="input-group mb-3">
							        <span class="input-group-text"><i class="fa-regular fa-user"></i></span>
									<input type="text" value="{{ last_username }}" name="Nom_utilisateur" id="inputNom_utilisateur" class="form-control" autocomplete="username" required autofocus>
								</div>

                                <label for="inputPassword">Password</label>
								<div class="input-group mb-3">
                                    <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
									<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
									<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
								</div>

								<div class="checkbox mb-3">
									<label>
										<input type="checkbox" name="_remember_me">
										Remember me
									</label>
								</div>

								<button type="submit" class="btn btn-primary">Se connecter</button>
                            	<a class="align-self-center" href="#">Mot de pass oublié ?</a>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}

