{% extends '_inc/listPage.html.twig' %}

{% block title %}Devis{% endblock %}

{% block back_button %}
{% endblock %}

{% block list %}

    {% if devis.getStatut.statut == 'EN_COURS' %}
        <div class="d-flex justify-content-between container flex-sm-row flex-column pb-2">
            <div class="p-2 col d-flex flex-row-reverse">
                {% include 'devis/_change_statut_form.html.twig' %}
            </div>
        </div>
    {% endif %}
    
    <div class="border rounded container bg-light p-2">
        <div class="row border border-light rounded bg-client m-2 p-2"> 
            <div class="d-flex justify-content-between">
                <h1>{{devis.nom}}</h1>
                <div class="d-flex flex-column align-items-end">
                    <h5>Le {{devis.date | date('d/m/Y')}}</h5>
                </div>
            </div>
        </div>

        <h3 class="row border border-light rounded m-2 p-2">
            <strong>Description :</strong>
        </h3>

        <div class="row border border-light rounded m-2 p-2">
            <section class="gradient-custom justify-content-center">
                <div class="container justify-content-center">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body p-4 bg-client">
                                    <div class="row">
                                        <div class="col">
                                            {{ devis.description }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <h3 class="row border border-light rounded m-2 p-2">
            <strong>Gallerie Photos :</strong>
        </h3>
        
        <div class="row border border-light rounded m-2 p-2">
            {% if photos %}
                {% include 'photoDevis/photo.html.twig' %}
            {% else %}
                
            {% endif %}
        </div>
    
        <div class="row border border-light rounded m-2 p-2">
            <h3 class="row border border-light rounded m-2 p-2">
                <strong>Devis :</strong>
                <ul class='list-group p-4'>
                    {% for file in devis %}
                        <li class='list-group-item'>
                            <a class='btn' href="{{ path('app_devis_chantier', {'id': chantier.id, 'filename': file}) }}" target="_blank">
                                <i class="fa-solid fa-file-pdf text-primary"></i> 
                                {{ file }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </h3>
            <!-- Button trigger modal -->
            <div class="container p-2">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#devisModal">
                    Rajouter un devis
                </button>

                <!-- Modal -->
                <div class="modal fade" id="devisModal" tabindex="-1" aria-labelledby="devisModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="devisModalLabel">Rajouter un devis</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {{ form_start(form) }}
                                    {{ form_row(form.pdfFile) }}                            
                            <div class="modal-footer">                    
                                <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Enregistrer</button>
                                {{ form_end(form) }}
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>

       
{% endblock %}