{% extends '_inc/listPage.html.twig' %}

{% block title %}SAV | {{contrat.getCodeClient().nom}}{% endblock %}

{% block back_button %}
{% endblock %}

{% block list %}

    {# {% for message in app.flashes('noDevis') %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %} #}
    <div class="border rounded container bg-light p-2">
        <div class="row border border-light rounded bg-client m-2 p-2">
            <h1>{{contrat.getCodeClient().nom}}</h1>
            <div>Code du contrat: {{contrat.id}}</div>
            <div>Code du client: {{contrat.getCodeClient().id}}</div>
        </div>

        <h3 class="row border border-light rounded m-2 p-2">
            <strong>Devis :</strong>
            <ul class='list-group p-4'>
                {% for file in devis %}
                    <li class='list-group-item'>
                        <a class='btn' href="{{ path('app_devis_sav', {'id': contrat.getCodeClient().id, 'filename': file}) }}" target="_blank">
                            <i class="fa-solid fa-file-pdf text-primary"></i> 
                            {{ file }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </h3>

        <div class="row border border-light rounded m-2 p-2">
            
        </div>

        <h3 class="row border border-light rounded m-2 p-2">
            <strong>Gallerie Photos :</strong>
        </h3>
        
        <div class="row border border-light rounded m-2 p-2">
            {% if photos %}
                {% include 'photoSAV/photo.html.twig' %}
            {% else %}
                
            {% endif %}
        </div>

        <h3 class="row border border-light rounded m-2 p-2">
            <strong>Commentaires :</strong>
        </h3>
        
        <div class="row border border-light rounded m-2 p-2">
            {% include 'commentaireSAV/comment.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('flash') }}
{% endblock %}