{% extends '_inc/listPage.html.twig' %}

{% block title %}SAV | {{contrat.getCodeClient().nom}}{% endblock %}

{% block back_button %}
    {{ path('app_sav') }}
{% endblock %}

{% block list %}
    <div class="border rounded container bg-light p-2">
        <div class="row border border-light rounded bg-client m-2 p-2">
            <h1>{{contrat.getCodeClient().nom}}</h1>
            <div>Code du contrat: {{contrat.id}}</div>
            <div>Code du client: {{contrat.getCodeClient().id}}</div>
        </div>

        <h3 class="row border border-light rounded m-2 p-2">
            <strong>Devis :</strong>
        </h3>

        <div class="row border border-light rounded m-2 p-2">
            
        </div>

        <h3 class="row border border-light rounded m-2 p-2">
            <strong>Gallerie Photos :</strong>
        </h3>
        
        <div class="row border border-light rounded m-2 p-2">
            {% include 'photos/photo.html.twig' %}
        

        <h3 class="row border border-light rounded m-2 p-2">
            <strong>Commentaires :</strong>
        </h3>

        <div class="row border border-light rounded m-2 p-2">
            {% include 'commentaire/comment.html.twig' %}
        </div>
    </div>
{% endblock %}