{% extends '_inc/listPage.html.twig' %}

{% block title %}Modifier Appels{% endblock %}

{% block back_button %}{{ path('app_appels') }}{% endblock %}

{% block search %}
    <div class="p-2 col d-flex flex-row-reverse">
        {{ include('appels/_delete_form.html.twig') }}
    </div>
{% endblock %}

{% block list %}
    <h1 class="text-center font-weight-bold" style="font-size: 3em;">Modifier les information de l'appel</h1>

    {{ include('appels/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('appelsAutocomplete') }}
	{{ encore_entry_script_tags('datePicker') }}
{% endblock %}