{% extends '_inc/listPage.html.twig' %}

{% block back_button %}
	{{ path('app_dashboard') }}
{% endblock %}

{% block title %}Hello AppelsController!
{% endblock %}

{% block new_button %}
	<a class="btn btn-primary" href="{{ path('app_appels_new') }}">
		<i class="fa-solid fa-chevron-right"></i>
		Nouvel Appel
	</a>
{% endblock %}

{% block list %}
	<div class="client-container border rounded container bg-light p-2">
		{% for appel in appels %}
			<div class="row border border-light rounded bg-client m-2 p-2 client">
				<div class="d-flex justify-content-between">
					<h1>{{appel.getRdv().titre}}</h1>
					<div class="d-flex flex-column align-items-end">
						<h5>{{appel.getRdv().dateDebut | date('d/m/Y')}}</h5>
						<h5>{{appel.getRdv().dateDebut | date('h:i')}}</h5>
					</div>
				</div>
				<div>Code Contrat: {% if appel.CodeContrat %}{{appel.CodeContrat.getId()}}{% endif %}</div>
				<div>Code Client: {% if appel.CodeClient %}{{appel.CodeClient.getId()}}{% endif %}</div>
			</div>
		{% endfor %}
	</div>

{% endblock %}

{% block content %}
	<button class="btn btn-primary back-to-top">
		<i class="fa-solid fa-angles-up"></i>
		Retour en haut</button>
	{% include '_inc/chargementAnimation.html.twig' %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

