{% extends '_inc/listPage.html.twig' %}

{% block title %}Appels
{% endblock %}

{% block back_button %}
	{{ path('app_dashboard') }}
{% endblock %}

{% block new_button %}
	<a class="btn btn-primary" href="{{ path('app_appels_new') }}">
		<i class="fa-solid fa-chevron-right"></i>
		Nouvel Appel
	</a>
{% endblock %}

{# {% block search %}
    {{ form_start(searchForm, {'attr': {'class': 'd-flex justify-content-end col p-2', 'id': 'search-form'}}) }}
        <div class="">
            {{ form_row(searchForm.nom) }}
        </div>
        <div class="px-2">
            {{ form_row(searchForm.submit) }}
        </div>
    {{ form_end(searchForm) }}
{% endblock %} #}

{% block list %}
	<div class="d-flex justify-content-center container mt-5 mb-5">
		<h1 class="font-weight-bold statut" style="font-size: 3em;">Les appels en cours</h1>
	</div>


	<div class="d-flex justify-content-between container flex-sm-row flex-column mb-3">

		<div class="col d-flex flex-row align-items-center">
			<button class="btn btn-secondary mx-1" id='appelsTermine'>Appels archivés</button>
			<button class="btn btn-secondary" id='appelsEnCours'>Appels en cours</button>
		</div>

		<div class="col d-flex flex-row">
			<form method="get" class="d-flex justify-content-end col" id="search-form">
				<div class="">
					<div><input type="text" id="nom" name="nom" placeholder="Recherchez ici" class="form-control search-input mr-sm-2" aria-label="Search" autocomplete="off" spellcheck="false"></div>
				</div>
				<div class="px-2">
					<div>
						<button type="submit" id="submit" name="submit" class="btn btn-secondary">Chercher</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	{% for message in app.flashes('success') %}
	    {% if loop.first %}
		<div class="alert alert-success alert-dismissible fade show mt-1" role="alert">
			{{ message }}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		{% endif %}
	{% endfor %}

	<div class="client-container border rounded container bg-light p-2"></div>

{% endblock %}

{# {% block search %}
	<div class="p-2 col d-flex flex-row-reverse">
		<button class="btn btn-primary ms-1" id='appelsTermine'>Appels archivés</button>
		<button class="btn btn-primary" id='appelsEnCours'>Appels en cours</button>
	</div>
{% endblock %} #}

{% block content %}
	<button class="btn btn-primary back-to-top">
		<i class="fa-solid fa-angles-up"></i>
		Retour en haut</button>
	{% include '_inc/chargementAnimation.html.twig' %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('appels_JS') }}
{% endblock %}

