{% extends '_inc/listPage.html.twig' %}

{% block back_button %}
	{{ path('app_dashboard') }}
{% endblock %}

{% block title %}Bato - Liste des appels
{% endblock %}

{% block new_button %}
	<a class="btn btn-primary" href="{{ path('app_appels_new') }}">
		<i class="fa-solid fa-chevron-right"></i>
		Nouvel Appel
	</a>
{% endblock %}

{% block list %}
	<div class="client-container border rounded container bg-light p-2">
		{% for appel in appels %}
			<div class="row border border-light rounded bg-client m-2 p-2 client" data-bs-toggle="modal" data-bs-target="#appelModal{{appel.id}}">
				<div class="d-flex justify-content-between">
					<h1>{{appel.getRdv().titre|raw}}</h1>
					<div class="d-flex flex-column align-items-end">
						<h5>Le
							{{appel.getRdv().dateDebut | date('d/m/Y')}}</h5>
						<h5>à
							{{appel.getRdv().dateDebut | date('H:i')}}</h5>
					</div>
				</div>
				<div>{% if appel.CodeContrat %}
					Code Contrat:
						{{appel.CodeContrat.getId()}}
						{% else %}
						<p>N'a pas de contrat d'entretien</p>
					{% endif %}
				</div>
				<div>{% if appel.CodeClient %}
					Code Client:					
						{{appel.CodeClient.getId()}}
						{% else %}
						<p>Nouveau client !</p>
					{% endif %}
				</div>
			</div>

			<div class="modal fade" id="appelModal{{appel.id}}" tabindex="-1" aria-labelledby="appelModal{{appel.id}}Label" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="appelModal{{appel.id}}Label">{{appel.getRdv().titre|raw}}</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div class="row">

								<div class="col-md-6">
									{% if appel.CodeContrat %}
										<strong>Code Contrat:</strong>
										{{appel.CodeContrat.getId()}}
									{% endif %}
									{% if appel.CodeClient %}
										<strong>Code Client:</strong>
										{{appel.CodeClient.getId()}}
									{% endif %}
								</div>

								<div class="col-md-6">
									<p>
										<strong>Nom:</strong>
										{% if appel.CodeClient %}
											{{ appel.CodeClient }}
										{% else %}
											{{ appel.getRdv().titre }}
										{% endif %}

									</p>

									<p>
										<strong>Téléphone:</strong>
										{{ appel.Tel }}
									</p>
									<p>
										<strong>Adresse:</strong>
									</p>
									<p>{{appel.Adr}}<br>{{appel.CP}}
										{{appel.Ville}}
									</p>
								</div>


								<div class="col-md-6">
									<p>
										<strong>Date de rendez-vous:</strong>
									</p>
									<p>Le
										{{appel.getRdv().dateDebut | date('d/m/Y')}}
										à
										{{appel.getRdv().dateDebut | date('H:i')}}</p>
								</div>

								<div class="col-md-6">
									<p>
										<strong>Rendez-vous urgent ?
										</strong>
									</p>
									<p>{{ appel.isUrgent ? 'Oui' : 'Non' }}</p>
								</div>

							</div>
						</div>
						<div class="modal-footer">
							<a href="{{ path('app_appels_show', {'id': appel.id}) }}" class="btn btn-primary">Afficher</a>
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
						</div>
					</div>
				</div>
			</div>

		{% endfor %}
	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

