{% extends '_inc/listPage.html.twig' %}

{% block title %}Hello AppelsController!
{% endblock %}

{% block back_button %}
    {{ path('app_appels') }}
{% endblock %}

{% block list %}
	<h1>Liste des Appels</h1>

	{% for appel in appels %}

        <div class="border rounded container bg-light p-2">
        <div class="row border border-light rounded bg-client m-2 p-2">
            <h1>{{ appel.nom}}</h1>
			<p>Ville: {{ appel.ville}}</p>
			<p>Date de rendez-vous: {{ appel.rdvDate | date('Y-m-d')}}</p>
			<p>Heure de rendez-vous:  {{ appel.rdvHeure| date('h:s')}}</p>
			<p>Description: {{ appel.description }}</p>
			<p>Urgent: {{ appel.isUrgent }}</p>
        </div>
               </div>
	{% endfor %}
{% endblock %}



