<div id="carouselExample" class="carousel slide carousel-dark">
  <div class="carousel-inner">
    {% for photo in photos %}
        <div class="carousel-item active" data-bs-interval="1000">
            <img src={{photo.urlPhoto}} class="responsive" alt="..." >
            <div class="carousel-caption d-none d-md-block outsideDiv">
                <div class="myDiv">
                    <h1 class="myTitle">{{ photo.nom }}</h1>
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-{{photo.id}}">
                        Afficher
                    </button>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal-{{photo.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">{{ photo.nom }}</h1>
                                </button>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <img src={{photo.urlPhoto}} class="responsive" alt="..." 
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                {{ include('photos/_delete_photo_form.html.twig') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
  </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>