{% extends '_inc/listPage.html.twig' %}

{% block new_button %}
	<a class="btn btn-primary" href="{{ path('app_appels_new') }}">
		<i class="fa-solid fa-chevron-right"></i>
		Nouveau Rendez-vous
	</a>
{% endblock %}

{% block list %}
	<div class="d-flex justify-content-center container mt-5 mb-5">
		<h1 class="font-weight-bold statut" style="font-size: 3em;">Calendrier</h1>
	</div>

    <div 
    class="mt-5" id="calendar-holder"
    data-events-url="{{ path('fc_load_events') }}"></div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('calendrier') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('calendrier') }}
{% endblock %}