{% extends 'base.html.twig' %}

{% block title %}Bato - Dashboard
{% endblock %}

{% block body %}

	<main role="main">
		<div class="container">

			{% for message in app.flashes('success') %}
				{% if loop.first %}
					<div class="alert alert-success alert-dismissible fade show mt-1" role="alert">
						{{ message }}
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>

					<script>
						setTimeout(function () {
var alert = document.querySelector('.alert');
alert.classList.remove('show');
alert.classList.add('hide');
setTimeout(function () {
alert.remove();
}, 1000);
}, 5000);
					</script>
				{% endif %}
			{% endfor %}

            <div class="row border border-light rounded bg-light m-2 p-1 mt-5">
                {% if app.user %}
                    <h1 class="display-3">Bonjour {{ app.user.getIDUtilisateur.prenom }}!</h1>
                    <p>Voici un petit récapitulatif de votre journée :</p>
                    <ul class="" style="margin-left: 2rem;">
                        <li>Il y a X nouveaux devis.</li>

                        <li>
                            {% if appelsCurrentUser|length > 0 %}
                                {{ appelsCurrentUser|length }} rendez-vous aujourd'hui.
                            {% else %}
                                Aucun rendez-vous aujourd'hui.
                            {% endif %}
                        </li>

                            {% if appelsCurrentUser|length > 0 %}
                                <ul>
                                    {% for appels in appelsCurrentUser %}
                                        <li>{{ appels.RDV.dateDebut|date('d/m/Y H:i') }} - {{ appels.nom }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                    </ul>
                {% endif %}
            </div>

			<div class="row border border-light rounded bg-light m-2 p-2">
				<h1 class="display-3">Calendrier</h1>
				<div class="row">
					<div class="col calendar-holder p-2" id="calendar-holder-dashboard-0" data-events-url="{{ path('fc_load_events') }}"></div>
				</div>
				<div class="row">
					<div class="col calendar-holder calendar-holder-rest p-2" id="calendar-holder-dashboard-1" data-events-url="{{ path('fc_load_events') }}"></div>
					<div class="col calendar-holder calendar-holder-rest p-2" id="calendar-holder-dashboard-2" data-events-url="{{ path('fc_load_events') }}"></div>
					<div class="col calendar-holder calendar-holder-rest p-2" id="calendar-holder-dashboard-3" data-events-url="{{ path('fc_load_events') }}"></div>
					<div class="col calendar-holder calendar-holder-rest p-2" id="calendar-holder-dashboard-4" data-events-url="{{ path('fc_load_events') }}"></div>
				</div>
			</div>
			<!-- Devis à réaliser -->
			<div class="row border border-light rounded bg-light m-2 p-2">
				<h1 class="display-3">Devis à réaliser</h1>
				<div class="col-md-4">
					<h2>Devis 1</h2>
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
					</p>
					<p>
						<a class="btn btn-secondary" href="#" role="button">View details »</a>
					</p>
				</div>
				<div class="col-md-4">
					<h2>Devis 2</h2>
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
					</p>
					<p>
						<a class="btn btn-secondary" href="#" role="button">View details »</a>
					</p>
				</div>
				<div class="col-md-4">
					<h2>Devis 3</h2>
					<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
					<p>
						<a class="btn btn-secondary" href="#" role="button">View details »</a>
					</p>
				</div>
			</div>

			<!-- Chantier client -->
			<div class="row border border-light rounded bg-light m-2 p-2">
				<h1 class="display-3">Chantier client</h1>
				<div class="col-md-4">
					<h2>1</h2>
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
					</p>
					<p>
						<a class="btn btn-secondary" href="#" role="button">View details »</a>
					</p>
				</div>
				<div class="col-md-4">
					<h2>2</h2>
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
					</p>
					<p>
						<a class="btn btn-secondary" href="#" role="button">View details »</a>
					</p>
				</div>
				<div class="col-md-4">
					<h2>3</h2>
					<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
					<p>
						<a class="btn btn-secondary" href="#" role="button">View details »</a>
					</p>
				</div>
			</div>

			<!-- SAV -->
			<div class="row border border-light rounded bg-light m-2 p-2">
				<h1 class="display-3">SAV</h1>
				<div class="col-md-4">
					<h2>SAV 1</h2>
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
					</p>
					<p>
						<a class="btn btn-secondary" href="#" role="button">View details »</a>
					</p>
				</div>
				<div class="col-md-4">
					<h2>SAV 2</h2>
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
					</p>
					<p>
						<a class="btn btn-secondary" href="#" role="button">View details »</a>
					</p>
				</div>
				<div class="col-md-4">
					<h2>SAV 3</h2>
					<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
					<p>
						<a class="btn btn-secondary" href="#" role="button">View details »</a>
					</p>
				</div>
			</div>

			<!-- Appels -->

		</div>
	</main>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('calendrierDashboard') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('calendrierDashboard') }}
{% endblock %}
